.side
  .header
    .header__one
      .user__name
        morimori
          
      .icon
        .icon__one
          = link_to "#" do
            = icon('fas', 'edit', class: 'strong')
           
        .icon__two   
          = link_to "#" do
            = icon('fas', 'cog', class: 'strong')
          
        
             
  .footer
      
    .footer__a
      .footer__a__one
        morimori
      .footer__a__two
        まだメッセージがありません