.side
  .header
    .header-one
      .user-name
        morimori
          
      .icon
        .icon-one
          = link_to "#" do
            = icon('fas', 'edit', class: 'strong')
           
        .icon-two   
          = link_to "#" do
            = icon('fas', 'cog', class: 'strong')
          
        
             
  .footer
      
    .footer-a
      .footer-one
        morimori
      .footer-two
        まだメッセージがありません